
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');




*{
    box-sizing: border-box;
    
}

body {
  background: #252525;
  color:blanchedalmond;
  font-family: 'Codystar';
  
}



.drumKit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drumKit div {
    color: white;
    display: flex;
    height: 250px;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    width: 250px;

}
.drumKit div:hover{
  border: 3px solid #00fff2;
}

.drumKit div:active {
  border: 1px solid white;
}


@media (max-width: 400px){
  .drumKit{
    flex-direction: column;
   
  }

}


.neons {
   text-align: center;
}

.neons h1 {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-size: 5rem;
   font-weight: bold;
  text-align: center;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}